body {
  font-family: "Avenir Next";
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}


.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;

}
