body {
    font-family: "Avenir Next";
  }

input,textarea{
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec;
  }
  

.login-submit{
    background-color: #dee7ec;
    color: #889eab;
  }  